.splash-card {
    z-index: 3;
    flex-direction: column;
    align-items: flex-start;
    box-sizing: border-box;
    padding: 20px 40px 10px 40px;
    min-height: 100vh;
    width: 100vh;
    color: #fff;
    font-family: var(--montserrat);
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.4);
}

.splash-card::-webkit-scrollbar {
    display: none;
}

.splash-card > * {
    animation: slide-in 1000ms ease;
}

.splash-card a {
    color: inherit;
    text-decoration: none;
}

.splash-title, .splash-description {
    margin: 0;
}

.splash-description {
    font-weight: 100;
    font-size: 2rem;
    font-family: var(--quicksand);
}

.splash-link {
    margin-right: 20px;
    padding: 5px 15px;
    border: 1px solid rgb(255,255,255);
    border-radius: 2px;
    color: inherit;
    text-decoration: none;
    font-size: 1.7rem;
    -moz-user-select: none;
    user-select: none;
}

.splash-links {
    margin: 30px 0 50px;
}

.splash-title {
    font-weight: 600;
    font-size: 5rem;
}

.splash-subtitle {
    margin: 0 0 10px 0;
    font-weight: 600;
    font-size: 2rem;
}

@media only screen and (max-width: 600px) {
    .splash-card {
        padding: 20px 10px 20px;
    }

    .splash-title, .splash-description {
        text-align: center;
    }

    .splash-links {
        width: 100%;
        justify-content: center;
    }
}

@media only screen and (min-width: 992px) {
    .splash-card {
        max-width: 800px;
    }
}