.splash-map {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin-top: 10px;
    height: 50vh;
    max-height: 500px;
    width: 100%;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 1px rgba(0,0,0,0.3);
}