:root {
    --montserrat: 'Montserrat', sans-serif;
    --quicksand: 'Quicksand', sans-serif;
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}

.App {
    align-items: center;
}

.flex {
    display: flex;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(-40px);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}